<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="modal-title">Video <small>{{task}}</small></h3>
    </div>
    <div class="panel-body">
        <form name="categoryForm">
            <div class="row">
                <div class="col col-md-6">
                    <div class="form-group">
                        <div video-gallery-categories-drop category-selected="categorySelected" categories="categorised" title="Select category"></div>
                    </div><!-- form-group -->

                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" ng-model="videoItem.title" class="form-control" />
                    </div><!-- .form-group -->
                    <div class="form-group">
                        <label>Alias</label>
                        <input type="text" ng-model="videoItem.alias" class="form-control" />
                    </div><!-- .form-group -->
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" ng-model="videoItem.active" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">Active</button>
                    </div><!-- .form-group -->
                    <div class="form-group">
                        <label for="lang" class="control-label">Language</label>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="categorySelector" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {{languageSelected.name}}  ({{languageSelected.short_name}})
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="categorySelector">
                                <li ng-repeat="(k,v) in languages">
                                    <a ng-click="selectLanguage(v)">{{v.name}} ({{v.short_name}})</a>
                                </li>
                            </ul>
                        </div><!-- .dropdown -->
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea ng-model="videoItem.description" class="form-control"></textarea>
                    </div><!-- .form-group -->
                    <div class="form-group">
                        <label>Link</label>
                        <input type="text" ng-model="videoItem.link" class="form-control" />
                        <button type="button" class="btn btn-default" ng-click="previewVideo()">Preview</button>
                        <div class="previewYT">
                            <iframe width="853" height="480" src="{{previewLink | trusted}}" frameborder="0" allowfullscreen></iframe>
                        </div><!-- previewYT -->
                    </div><!-- .form-group -->
                    
                    
                </div><!-- .col-md-6 -->
                <div class="col-md-6">
                    <div class="panel panel-default" ng-hide="(videoItem.options.length < 1)">
                        <div class="panel-heading"><h4>Settings</h4></div>
                        <div class="panel-body">
                            <div ng-repeat="(k,option) in options" class="settings-element">
                                <div ng-switch on="option.fieldType">
                                    <div ng-switch-when="checkbox" opt-checkbox ng-model="videoItem.options[option.name]" title="{{option.title}}" default="{{option.defaultValue}}"></div>
                                    <div ng-switch-when="drop" opt-drop ng-model="videoItem.options[option.name]" title="{{option.title}}" default="{{option.defaultValue}}" drop-options="option.selectOption"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .row -->
        </form>
    </div>
    <div class="panel-footer">
        <button class="btn btn-primary" ng-click="save()">Save</button>
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</div>