<div class="form-group" >
    <label>{{f.label[0]}}</label>
        <ul>
            <li ng-repeat="(kOpt,vOpt) in fieldValues[f.fieldName] | filter: { parent_id: 0 }" class="radio">
                <label> <input type="radio" ng-model="linkFields[f.fieldName]" value="{{vOpt.id}}" name="f.fieldName" ng-click="changed(f)" /> {{vOpt.name}}</label>
                <ul ng-include="'pages/menu/includes/menuCreator/drop-hierarchical-element.html'"></ul>
            </li>
        </ul>
</div><!-- .form-group -->