li {
    list-style-type: none;
}

a {
    outline: 0 !important;
}

.nav-menu {
    height: 80px;
    width: 100%;
    margin-bottom: 21px;
    /*background: #333333;
    border: 4px solid #768591;*/

}

.nav-text {
    float: right;
    text-decoration: none;
    font-size: 29px;
    color: white;
    margin-right: 5%;
    padding-top: 7px !important;

}

.
.nav-menu:last-child {
    margin-bottom: 125px;
}

.nav-menu > a:hover {
    background: none !important;
}

.nav-menu > a:link {
    background: none !important;
}

.nav-menu > a:visited {
    background: none !important;
}

.nav-img {
    margin: 15px 15px;
}

.mainbaner {
    height: 180px;
    margin: 10px 50px;
    border-style: solid;
    border-width: 0.7px;
    background-color: white;
}

/*{*/
/*!*margin-bottom: 15px;*!*/
/*height: 150px;*/
/*width: 100%;*/
/**/
/*}*/
.provera {
    height: 20px;
    background: black;
}

body {
    background: url("../images/bg.jpg");
    color: #fff;

}

body p {
    font-size: 22px;
}

.list-group > li {
    background: none !important;
    list-style-type: none !important;
    border: 0 !important;

}

.img-border {
    border: 2px solid #768591;
    /*padding: 5px 5px;*/

}

.hr-linija {
    border: 0;
    height: 1px;
    width: 90%;
    background: #B13554; /* For browsers that do not support gradients */
    background: linear-gradient(to right, #B13554, #ccc, #B13554);

}

#link_get_widget {
    display: none !important;
}

#justify {
    width: 90%;
    text-align: justify;
    padding-bottom: 10px;
    background: #333333;
    opacity: 0.9;
    margin-left: 70px;
}

.margin-top {
    margin-top: 28px;
}

.aw-widget-current {
    margin-top: 0px;
    display: block;
    height: 192px;
    /*border:1px solid #647883;*/
}

.bg-su {
    border: none !important;
    background: #FCFDF0 !important;
    color: #fff !important;
}

.aw-widget-content {
    border: none !important;
    color: #fff !important;
}

.baners-left {
    /*border-right: 1px solid white;*/
    -webkit-box-shadow: inset -3px 10px 21px -4px rgba(177, 53, 84, 1);
    -moz-box-shadow: inset -3px 0px 21px -4px rgba(177, 53, 84, 1);
    box-shadow: inset -10px 3px 21px -4px #000000;
    height: 758px;
    background: #262626;
}

.margina-baner li:last-child {
    margin-bottom: -30px;
}

#right-menu {
    min-height: 1100px;
    max-height: 100%;

    background: #262626;
    margin-bottom: 0px;

    -webkit-box-shadow: inset 10px 3px 21px -4px #000000;
    -moz-box-shadow: inset 10px 3px 21px -4px #000000;
    box-shadow: inset 10px 3px 21px -4px #000000;

}

#right-menu li {
    border-bottom: 1px solid #CD5944;
}

.nav > li > a:hover {
    background-color: none !important;
}

.nav > li > a:focus {
    background-color: none !important;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
}

.menu li a {
    text-decoration: none;

}

ul, ul ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu {
    width: auto;
    height: auto;
}

.menu > li > a {
    width: 100%;
    height: 2.75em;
    line-height: 2.75em;
    text-indent: 2.75em;
    display: block;
    position: relative;
    font-weight: 600;
    color: #fff;
    /*text-shadow: 2px 3px 0px #333333;*/
    font-size: 30px;
    padding: 10px 30px;
    text-align: right;
    font-family: "Futura PT Book", Helvetica, sans-serif;

}

/*.menu > li > a:visited, .menu > li > a:active  {*/
/*background-color:#CD5944 ;*/

/*}*/
#menu > .active > a {
    background-color: #CD5944;

}

/*#menu > .active > ul>li>a{*/
/*background-color: #CD5944;*/

/*}*/

/*#menu > .active >a> {*/
/*background-color: #CD5944 ;*/

/*}*/

/*#menu > .active >li>a {*/
/*background-color: #CD5944 ;*/

/*}*/
.menu ul li a {
    text-align: right;
    padding-right: 30px;
    background: #333333;
    width: 100%;
    height: 2.75em;
    line-height: 2.75em;
    text-indent: 2.75em;
    display: block;
    position: relative;
    font-size: 0.923em;
    font-weight: 400;
    font-size: 19px;
    color: white;
}

.menu > li > a:before {
    content: '';
    background-repeat: no-repeat;
    font-size: 36px;
    height: 1em;
    width: 1em;
    position: absolute;
    left: 0;
    top: 50%;
    margin: -.5em 0 0 0;
}

.item1 > a:before {
    background-position: 0 0;
}

.item2 > a:before {
    background-position: -38px 0;
}

.item3 > a:before {
    background-position: 0 -38px;
}

.item4 > a:before {
    background-position: -38px -38px;
}

.item5 > a:before {
    background-position: -76px 0;
}

.menu > li > ul li a:before {
    /*content: '▶';*/
    font-size: 18px;
    color: #bcbcbf;
    position: absolute;
    width: 1em;
    height: 1em;
    top: 0;
    left: -2.7em;
    margin-left: 50px;
}

.menu ul > li > a span {
    font-size: 0.857em;
    display: inline-block;
    position: absolute;
    right: 1em;
    top: 50%;
/ background: #fff;
    border: 1px solid #d0d0d3;
    line-height: 1em;
    height: 1em;
    padding: .4em .7em;
    margin: -.9em 0 0 0;
    color: #878d95;
    text-indent: 0;
    text-align: center;
    -webkit-border-radius: .769em;
    -moz-border-radius: 769em;
    border-radius: 769em;
    /*text-shadow: 0px 0px 0px rgba(255,255,255,.01));*/
}

.logohotela {
    width: 110%;
    height: 100%;
    margin-left: -14px;
    margin-top: -20px;
}

.logo-red {
    margin-bottom: 20px;
    margin-left: 100px;

}

#footer {
    background-color: #0f0f0f;
    height: 80px;
    /*width: 100%;*/
    width: 1440px;
    /*margin-top: 220px;*/
    bottom: 0;
    left: 0;
    position: fixed;
    border-top: 2px solid #CD5944;

}

.tara {
    bottom: 15px;
    position: fixed;
    right: 20px;

}

.time {
    margin-top: 5px;
}

.time-text {
    color: #CD5944;
    margin-top: 13px;
}

.custom-margin-photo-about-hotel-content {
    margin-left: 4px;
}

h1 {
    font-family: "Futura PT Bold", Helvetica, sans-serif;
    margin-bottom: 30px;
}

p {
    font-family: "Futura PT Book", Helvetica, sans-serif;
}

.col-custom {
    height: 250px;
    background: silver;
    border: 2px solid #CD5944;
    opacity: 0.7;

}

.ip-main {
    background-color: #262626;
    height: 848px;
    width: 100%;
    opacity: 1;
    border: 2px solid #CD5944;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;

}

.ip-content {
    color: #DCCCED;
    margin: 50px 200px;
    border-top: 2px solid #CD5944;
    background-color: #0d1217;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;

}

.ip-content h2 {
    margin-bottom: 50px;
    color: #CD5944;
}

.fm-main {
    background-color: #262626;
    height: 848px;
    width: 100%;
    opacity: 1;
    border: 2px solid #CD5944;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;

}

.fm-content {
    color: #DCCCED;
    margin: 50px 200px;
    border-top: 2px solid #CD5944;
    background-color: #0d1217;
    text-align: center;
    /*padding-top: 20px;*/
    padding-bottom: 0;

}

.fm-content h2 {
    margin-bottom: 10px;
    color: #CD5944;
}

.fm-content img {
    height: 650px;
    width: 100%;
}
.top-baner {
    height: 200px;
    background-color: #262626;
    box-shadow: 0px -10px 30px -10px #000000 inset;
    /*background: url("../images/test.jpg");*/
    background-size: 2000px 150px;
    background-repeat: no-repeat;
}

.top-content {
    height: 398px;

}

.bottom-content {
    height: 398px;
    border-bottom: 2px solid #CD5944;

}

.event-black {
    width: 20%;
    background-color: #0F0F0F;
    float: left;
    height: 398px;
    color: white;
    /*border-bottom: 2px solid #CD5944;*/
    padding: 20px;

}

.event-grey {
    width: 20%;
    background-color: #262626;
    height: 398px;
    color: white;
    float: left;
    /*border-bottom: 2px solid #CD5944;*/
    padding: 20px;
}

.event-black img {
    width: 100%;
    height: 150px;

}

.event-grey img {
    width: 100%;
    height: 150px;

}

.event-black h3 {
    color: #CD5944;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;
}

.event-grey h3 {
    color: #CD5944;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;

}

.event-black a {
    color: #CD5944;

}

.event-grey a {
    color: #CD5944;

}

#cycler {
    position: relative;
}

#cycler img {
    position: absolute;
    z-index: 1;
    height: 200px;
    width: 1440px;
}

#cycler img.active {
    z-index: 3;
    height: 200px;
    width: 1440px;
}

