<HTML>
<HEAD>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <TITLE>Card information</TITLE>
    <LINK href="/template/default/style.css" rel="stylesheet" type="text/css">
    <SCRIPT language="javascript" src="/template/javascripts/formvalidator_en.js" type="text/javascript"></SCRIPT>
</HEAD>
<BODY>
<TABLE>
    <TR>
        <TD align="center" colspan="2">Metropolis hostel<BR>
            <BR>
        </TD>
    </TR>
    <TR>
        <TD> description:</TD>
        <TD width="150"> %%description%%</TD>
    </TR>
    <TR>
        <TD> amount:</TD>
        <TD> %%amount%% / %%ccyalpha%%</TD>
    </TR>
    <TR>
        %%formdef%%
    <TR>
        <TD>Name on card:</TD>
        <TD>%%cardname%%</TD>
    </TR>
    <TR>
        <TD>Card number:</TD>
        <TD>%%cardnr%%</TD>
    </TR>
    <TR>
        <TD>Expires (month/year):</TD>
        <TD>%%expmonth%% / %%expyear%%</TD>
    </TR>
    <TR>
        <TD>CVV2/CVC2/AMEX*:</TD>
        <TD>%%cvc2%%</TD>
    </TR>
    <TR>
        <TD align="right" colspan="2"><INPUT type="submit" value="Proceed with payment"></TD>
    </TR>
    <TR>
        <TD colspan="2">
            <SMALL>* Security Codes:</SMALL>
            <BR>
            <IMG src="/template/default/sc_visa.jpg"><IMG src="/template/default/sc_amex.jpg"></TD>
    </TR>
    </FORM>
    </TR>
    <TR>
        <TD><A href="#"><IMG alt="MasterCard SecureCode Learn More" border="0" height="75"
                             onClick="javascript:window.open('http://www.mastercardbusiness.com/mcbiz/index.jsp?template=/orphans&amp;content=securecodepopup', 'LearnMore', '10, 10, width=750, height=550,scrollbars=yes,resizable=yes')"
                             src="/template/default/sc_learn_more.gif" width="120"></A></TD>
        <TD><A href="#"
               onClick="javascript:window.open('http://www.visa.ca/verified/infopane/index.html', 'InfoPane','height=550,width=450,channelmode=0,dependent=0,directories=0,fullscreen=0,location=0,menubar=0,resizable=0,scrollbars=0,status=0,toolbar=0', 'InfoPane')"><IMG
                alt="Verified by VISA" border="0" src="/template/default/vbv_learn_more.gif"></A></TD>
    </TR>
</TABLE>
</BODY>
</HTML>
