
@font-face {
  font-family: 'FuturaPTCond-Medium';
  src: url('FuturaPTCond-Medium.eot?#iefix') format('embedded-opentype'),  url('FuturaPTCond-Medium.otf')  format('opentype'),
	     url('FuturaPTCond-Medium.woff') format('woff'), url('FuturaPTCond-Medium.ttf')  format('truetype'), url('FuturaPTCond-Medium.svg#FuturaPTCond-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
