
@font-face {
  font-family: 'FuturaPTCond-ExtraBold';
  src: url('FuturaPTCond-ExtraBold.eot?#iefix') format('embedded-opentype'),  url('FuturaPTCond-ExtraBold.otf')  format('opentype'),
	     url('FuturaPTCond-ExtraBold.woff') format('woff'), url('FuturaPTCond-ExtraBold.ttf')  format('truetype'), url('FuturaPTCond-ExtraBold.svg#FuturaPTCond-ExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
